{% extends 'base.html' %}

{% block title %}
站点投资落地清单
{% endblock %}

{% block page-content %}
    <table class="table table-striped">     #使用bootsrtap定义好的样式，将客户信息展示在一个表里
        <thead>　　　　　　　　　　　　　　　　　＃表头
            <tr>　　　　
                <th>序号</th>　　　　　　　　　　＃每列标题
                <th>投资项目</th>
                <th>落地项目</th>
            </tr>
        </thead>
        <tbody>　　　　　　　　　　　　　　　　　　　　　　　　　＃表的主题内容
            {% for customer in customers_list %}
                <tr>
                    <td>{{ customer.protostatid }}</td>　　　　　　＃每列展示的美美容
                    <td>{{ customer.projectname }}</td>
                    <td>{{ customer.stationname }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}